<div class="container p-3 my-3 bg-dark text-white">
    <h1 class="text-center">TAMU Datathon 2021 Application</h1>
</div>
<form>
    <div class="container p-3 my-3 bg-secondary text-white">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Email Address"
                required="true"
                aria-labelledby="email-help"
            />
            <span class="d-none" id="email-help">Enter your email address here</span>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="First Name"
                required="true"
                aria-labelledby="fname-help"
            />
            <span class="d-none" id="fname-help">Enter your first name here</span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Last Name"
                required="true"
                aria-labelledby="lname-help"
            />
            <span class="d-none" id="lname-help">Enter your last name here</span>
        </div>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="form-group">
            <label for="gitHub">GitHub</label>
            <input
                type="url"
                class="form-control"
                id="gitHub"
                placeholder="Link to your GitHub Profile"
                aria-labelledby="github-help"
            />
            <span class="d-none" id="github-help">Enter your Github url here</span>
        </div>
        <div class="form-group">
            <label for="linkedIn">LinkedIn</label>
            <input
                type="url"
                class="form-control"
                id="linkedIn"
                placeholder="Link to your LinkedIn Profile"
                aria-labelledby="linkedin-help"
            />
            <span class="d-none" id="linkedin-help">Enter your LinkedIn url here</span>
        </div>
        <div class="form-group">
            <label for="kaggle">Kaggle</label>
            <input
                type="url"
                class="form-control"
                id="kaggle"
                placeholder="Link to your Kaggle Profile"
                aria-labelledby="kaggle-help"
            />
            <span class="d-none" id="kaggle-help">Enter your Kaggle url here</span>
        </div>
        <div class="form-group">
            <label for="devpost">Devpost</label>
            <input
                type="url"
                class="form-control"
                id="devpost"
                placeholder="Link to your Devpost Profile"
                aria-labelledby="devpost-help"
            />
            <span class="d-none" id="devpost-help">Enter your Devpost url here</span>
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input
                type="url"
                class="form-control"
                id="website"
                placeholder="Link to your Personal Website"
                aria-labelledby="personal-page-help"
            />
            <span class="d-none" id="personal-page-help">Enter your personal webpage here</span>
        </div>
    </div>
    <div class="container p-3 my-3 bg-secondary text-white">
        <label for="resume">Resume</label>
        <input
            type="file"
            class="form-control"
            name="resume"
            accept="application/pdf"
            aria-labelledby="resume-help"
        />
        <span class="d-none" id="resume-help">Upload your resume here</span>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="form-group">
            <label for="school">School</label>
            <input
                type="text"
                class="form-control"
                id="school"
                placeholder="School"
                required="true"
                aria-labelledby="form-school-help"
            />
            <span class="d-none" id="form-school-help"
                >What school do you currently attend?</span
            >
        </div>
        <div class="form-group">
            <label for="classification">Classification</label>
            <input
                type="text"
                class="form-control"
                id="classification"
                placeholder="Classification"
                required="true"
                aria-labelledby="form-classification-help"
            />
            <span class="d-none" id="form-classification-help"
                >What is your classification?</span
            >
        </div>
        <div class="form-group">
            <label for="graduation">Graduation Date</label>
            <input
                type="text"
                class="form-control"
                id="graduation"
                placeholder="Graduation Date"
                aria-labelledby="form-graduation-help"
            />
            <span class="d-none" id="form-graduation-help"
                >When will you graduate?</span
            >
        </div>
        <div class="form-group">
            <label for="majors">Majors</label>
            <select
                class="form-control"
                id="major-select"
                required="true"
                multiple="multiple"
            >
            <% for (const major of majors.results) { %>
                <option value="<%= major.id %>"><%= major.text %></option>
            <% } %>    
            </select>
        </div>
        <div class="form-group">
            <label for="minors">Minors</label>
            <select
                class="form-control"
                id="minor-select"
                required="true"
                multiple="multiple"
            >
            <% for (const major of majors.results) { %>
                <option value="<%= major.id %>"><%= major.text %></option>
            <% } %>   
            </select>
        </div>

        <div class="form-group">
            <label for="firstGen">First Generation Student</label>
            <input
                type="text"
                class="form-control"
                id="firstGen"
                required="true"
                placeholder="type Yes or No"
                aria-labelledby="form-firstgen-help"
            />
            <span class="d-none" id="form-firstgen-help">Are you a first generation student?</span>
        </div>
    </div>
    <div class="container p-3 my-3 bg-secondary text-white">
        <div class="form-group">
            <label for="gender">Gender</label>
            <input
                type="text"
                class="form-control"
                id="gender"
                placeholder="Gender"
                required="true"
                aria-labelledby="form-gender-help"
            />
            <span class="d-none" id="form-gender-help">What is your gender?</span>
        </div>
        <div class="form-group">
            <label for="race">Race</label>
            <input
                type="text"
                class="form-control"
                id="race"
                placeholder="Race"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input
                type="number"
                class="form-control"
                id="age"
                placeholder="Age"
                required="true"
                aria-labelledby="form-age-help"
            />
            <span class="d-none" id="form-age-help">How old are you?</span>
        </div>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="form-group">
            <label for="numHack">Number of Hackathons Attended</label>
            <input
                type="number"
                class="form-control"
                id="numHack"
                placeholder="Number of Hackathons Attended"
                required="true"
                aria-labelledby="form-num-hacks-help"
            />
            <span class="d-none" id="form-num-hacks-help"
                >How many hackathons have you attended?</span
            >
        </div>
        <div class="form-group">
            <label for="dsExp">DS/ML Experience</label>
            <input
                type="text"
                class="form-control"
                id="dsExp"
                placeholder="DS/ML Experience"
                required="true"
                aria-labelledby="form-ds-ml-experience-help"
            />
            <span class="d-none" id="form-ds-ml-experience-help"
                >What experience do you have in Data Science and Machine
                Learning?</span
            >
        </div>
        <div class="form-group">
            <label for="techExp">Tech Experience</label>
            <input
                type="text"
                class="form-control"
                id="techExp"
                placeholder="Tech Experience"
                required="true"
                aria-labelledby="form-tech-experience-help"
            />
            <span class="d-none" id="form-tech-experience-help"
                >What technology experience do you have?</span
            >
        </div>
    </div>
    <div class="container p-3 my-3 bg-secondary text-white">
        <button type="submit" class="btn">Submit Application</button>
    </div>
</form>

<style>
    .select2-selection__choice__display{
    color: #000000!important;
}
</style>
