<div class="container p-3 my-3 bg-dark text-white">
    <h1 class="text-center">TAMU Datathon 2021 Application</h1>
</div>
<form>
    <div class="container p-3 my-3 bg-secondary text-white">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Email Address"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="First Name"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Last Name"
                required="true"
            />
        </div>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="form-group">
            <label for="gitHub">GitHub</label>
            <input
                type="url"
                class="form-control"
                id="gitHub"
                placeholder="Link to GitHub Profile"
            />
        </div>
        <div class="form-group">
            <label for="linkedIn">LinkedIn</label>
            <input
                type="url"
                class="form-control"
                id="linkedIn"
                placeholder="Link to LinkedIn Profile"
            />
        </div>
        <div class="form-group">
            <label for="kaggle">Kaggle</label>
            <input
                type="url"
                class="form-control"
                id="kaggle"
                placeholder="Link to Kaggle Profile"
            />
        </div>
        <div class="form-group">
            <label for="devpost">Devpost</label>
            <input
                type="url"
                class="form-control"
                id="devpost"
                placeholder="Link to Devpost Profile"
            />
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input
                type="url"
                class="form-control"
                id="website"
                placeholder="Link to Personal Website"
            />
        </div>
    </div>
    <div class="container p-3 my-3 bg-secondary text-white">
        <label for="resume">Resume</label>
        <input
            type="file"
            class="form-control"
            name="resume"
            accept="application/pdf"
        />
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="form-group">
            <label for="school">School</label>
            <input
                type="text"
                class="form-control"
                id="school"
                placeholder="School"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="classification">Classification</label>
            <input
                type="text"
                class="form-control"
                id="classification"
                placeholder="Classification"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="graduation">Graduation Date</label>
            <input
                type="text"
                class="form-control"
                id="graduation"
                placeholder="Graduation Date"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="majors">Majors</label>
            <input
                type="text"
                class="form-control"
                id="majors"
                placeholder="Majors"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="minors">Minors</label>
            <input
                type="text"
                class="form-control"
                id="minors"
                placeholder="Minors"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="firstGen">First Generation Student</label>
            <input
                type="text"
                class="form-control"
                id="firstGen"
                placeholder="First Generation Student"
                required="true"
            />
        </div>
    </div>
    <div class="container p-3 my-3 bg-secondary text-white">
        <div class="form-group">
            <label for="gender">Gender</label>
            <input
                type="text"
                class="form-control"
                id="gender"
                placeholder="Gender"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="race">Race</label>
            <input
                type="text"
                class="form-control"
                id="race"
                placeholder="Race"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input
                type="number"
                class="form-control"
                id="age"
                placeholder="Age"
                required="true"
            />
        </div>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="form-group">
            <label for="numHack">Number of Hackathons Attended</label>
            <input
                type="number"
                class="form-control"
                id="numHack"
                placeholder="Number of Hackathons Attended"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="dsExp">DS/ML Experience</label>
            <input
                type="text"
                class="form-control"
                id="dsExp"
                placeholder="DS/ML Experience"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="techExp">Tech Experience</label>
            <input
                type="text"
                class="form-control"
                id="techExp"
                placeholder="Tech Experience"
                required="true"
            />
        </div>
    </div>
    <div class="container p-3 my-3 bg-secondary text-white">
        <button type="submit" class="btn">Submit Application</button>
    </div>
</form>
