<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('#major-select').select2({
            placeholder: 'Majors',
        });
        $('#minor-select').select2({
            placeholder: 'Minors',
        });
        $('#gen-select').select2({
            placeholder: 'First Generation College Student',
            minimumResultsForSearch: -1
        });
        $('#gender-select').select2({
            placeholder: 'Gender',
            minimumResultsForSearch: -1
        });
        $('#race-select').select2({
            placeholder: 'Race',
            minimumResultsForSearch: -1
        });
        $('#eth-select').select2({
            placeholder: 'Ethnicity',
            minimumResultsForSearch: -1
        });
        $('#college-select').select2({
            placeholder: 'School',
        });
        $('#class-select').select2({
            placeholder: 'Classification',
            minimumResultsForSearch: -1
        });
        $('#grad-select').select2({
            placeholder: 'Graduation Date',
            minimumResultsForSearch: -1
        });
        $('#dsExp-select').select2({
            placeholder: 'Data Science Experieince',
            minimumResultsForSearch: -1
        });
        $('#techExp-select').select2({
            placeholder: 'Tech Experience'
        });
    });

    function isNumberKey(evt)
      {
         var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

         return true;
      }
</script>

<script>
    $(function() {
        const $resumeControl = $("#resumeControl");

        if ($resumeControl.length <= 0) {
            return;
        }

        const resumeId = $resumeControl.attr("value");
        const writeUrl = $resumeControl.attr("write-url");
        const userAuthId = $resumeControl.attr("auth-id");

        const fileInputSelect = document.createElement("input");
        fileInputSelect.type = "file";
        fileInputSelect.accept = "application/pdf";
        fileInputSelect.hidden = "hidden";
 
        const uploadButton = document.createElement("button");
        uploadButton.innerHTML = resumeId ? "Select a different File (PDF)" : "Select a File (PDF)";
        uploadButton.classList.add("btn");
        uploadButton.classList.add("btn-primary");
        uploadButton.classList.add("d-block");
        uploadButton.addEventListener("click", (e) => {
            e.preventDefault();
            fileInputSelect.click();
        })
        

        const statusMessage = document.createElement("p");
        statusMessage.classList.add("text-muted");
        statusMessage.classList.add("mt-3");
        if (resumeId) {
            statusMessage.innerHTML = `Currently selected file: <a href="/apply/resume/${resumeId}" target="_blank">View File</a>. Remember to Save Changes.`;
        }

        fileInputSelect.addEventListener('input', async (e) => {
            if (e.target.files.length < 1) {
                return;
            }

            const file = e.target.files[0];

            var blob = file.slice(
                0,
                file.size,
                "application/pdf"
            );
            const newResumeFile = new File([blob], `${userAuthId}.pdf`, {
                type: "application/pdf",
            });

            uploadButton.disabled = "disabled";
            uploadButton.innerHTML = "Uploading";

            await fetch(writeUrl, {
                method: "PUT",
                body: newResumeFile,
                headers: {
                    "Content-Type": "application/pdf"
                }
            })

            uploadButton.disabled = "";
            uploadButton.innerHTML = "Select a different File (PDF)";

            $resumeControl.val(userAuthId);
            statusMessage.innerHTML = `Currently selected file: <a href="/apply/resume/${userAuthId}" target="_blank">View File</a>. Remember to Save Changes.`;
        })

        $resumeControl.after(statusMessage);
        $resumeControl.after(uploadButton);
    });
</script>