<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>TD 2021 Application</title>
  </head>
  <body>
    <div class="container p-3 my-3 bg-dark text-white">
        <h1 class="text-center">TAMU Datathon 2021 Application</h1>
    </div>
    <form>
    <div class="container p-3 my-3 bg-secondary text-white">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="form-group">
            <label for="gitHub">GitHub</label>
            <input type="text" class="form-control" id="gitHub" placeholder="Link to GitHub Profile">
        </div>
        <div class="form-group">
            <label for="linkedIn">LinkedIn</label>
            <input type="text" class="form-control" id="linkedIn" placeholder="Link to LinkedIn Profile">
        </div>
        <div class="form-group">
            <label for="kaggle">Kaggle</label>
            <input type="text" class="form-control" id="kaggle" placeholder="Link to Kaggle Profile">
        </div>
        <div class="form-group">
            <label for="devpost">Devpost</label>
            <input type="text" class="form-control" id="devpost" placeholder="Link to Devpost Profile">
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website" placeholder="Link to Personal Website">
        </div>
    </div>
    <div class="container p-3 my-3 bg-secondary text-white">
        <label for="resume">Resume</label>
        <input type="file" class="form-control" name="resume" accept="application/pdf">
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="form-group">
            <label for="school">School</label>
            <input type="text" class="form-control" id="school" placeholder="School">
        </div>
        <div class="form-group">
            <label for="classification">Classification</label>
            <input type="text" class="form-control" id="classification" placeholder="Classification">
        </div>
        <div class="form-group">
            <label for="graduation">Graduation Date</label>
            <input type="text" class="form-control" id="graduation" placeholder="Graduation Date">
        </div>
        <div class="form-group">
            <label for="majors">Majors</label>
            <input type="text" class="form-control" id="majors" placeholder="Majors">
        </div>
        <div class="form-group">
            <label for="minors">Minors</label>
            <input type="text" class="form-control" id="minors" placeholder="Minors">
        </div>
        <div class="form-group">
            <label for="firstGen">First Generation Student</label>
            <input type="text" class="form-control" id="firstGen" placeholder="First Generation Student">
        </div>
    </div>
    <div class="container p-3 my-3 bg-secondary text-white">
        <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" id="gender" placeholder="Gender">
        </div>
        <div class="form-group">
            <label for="race">Classification</label>
            <input type="text" class="form-control" id="race" placeholder="Race">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" placeholder="Age">
        </div>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="form-group">
            <label for="numHack">Number of Hackathons Attended</label>
            <input type="text" class="form-control" id="numHack" placeholder="Number of Hackathons Attended">
        </div>
        <div class="form-group">
            <label for="dsExp">DS/ML Experience</label>
            <input type="text" class="form-control" id="dsExp" placeholder="DS/ML Experience">
        </div>
        <div class="form-group">
            <label for="techExp">Tech Experience</label>
            <input type="text" class="form-control" id="techExp" placeholder="Tech Experience">
        </div>
    </div>
    <div class="container p-3 my-3 bg-secondary text-white">
        <button type="submit" class="btn">Submit Application</button>
    </div>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
