<h1>Welcome to TD!!!</h1>
<p>See what happens when you fill this form:</p>
<form action="/hello" method="POST">
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name" required>
    <input type="submit" />
</form>