<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body style="background: linear-gradient(#3f87f330, #00c0a930)">

    <%- include ("./partials/application") %>
    
    <%- include ("./partials/scripts") %>

</body>
</html>
